/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	max-width: 100%;
}

:root {
    /* TODO: DECIDE ON PALETTE */
    --black: #1e1C1F;
    --ivory: #FBFFF1;

    --fonts: "Fraunces", cursive;
}

body {
    font-family: var(--fonts);
    color: var(--black);
    margin: auto;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'header header header header header header'
		'menu main main main main events'
		'footer footer footer footer footer footer';
	background-color: var(--ivory);
	padding: 0px 0px 0px 0px;
}

.grid-container > div {
	padding: 10px;
	font-size: 16px;
}

.item1 {
	grid-area: header;
	background-color: var(--ivory);
	text-align: center;
	color: var(--black);
}

.item1 > header img {
	margin: auto;
	width: 100%;

	/* TODO: FIGURE OUT WHY IMAGE IS NOT SCALING ALL THE WAY TO THE SIDES, PADDING ISSUE? */
	
}

.item1 > header h1 {
	font-size: 40px;
	padding: 8px;
}

.item2 {
	grid-area: menu;
}

.item2 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.item2 li {
	padding: 2px;
	margin-bottom: 8px;
	background-color: var(--ivory);
	color: var(--black);
	display: inline-block;
}

.item3 {
	grid-area: main;
}

.item3 > main h2 {
	font-size: 2rem;
	margin-bottom: 7px;
	text-align: center;
	text-decoration: underline;
}

.item3 > main p {
	padding: 10px;
}

.item4 {
	grid-area: events;
	padding-top: 10px;
	max-width: 600px;
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	justify-self: center;
	justify-content: center;
	gap: 3px;
}

.item4 p {
	text-align: center;
}

.rehearsal > h3, .ceremony > h3 {
	font-size: 1.25rem;
	text-align: center;
}

.item5 {
	grid-area: footer;
	border-top: 1px solid var(--black);
	background-color: var(--ivory);
	color: var(--black);
	text-align: center;
	font-style: italic;
}

.item5 > footer p {
	font-size: 0.8rem;
}

p {
	color: var(--black);
}

a {
	text-decoration: none;
	color: var(--black);
}

@media screen and (max-width: 600px) {
	.item1 {grid-area: 1 / span 6;}
	.item2 {grid-area: 2 / span 6;}
	.item3 {grid-area: 3 / span 6;}
	.item4 {grid-area: 4 / span 6;}
	.item5 {grid-area: 5 / span 6;}

	.item4 {grid-auto-flow: row;}

}

@media screen and (min-width: 600px) {
	.item1 {grid-area: 1 / span 6;}
	.item2 {grid-area: 2 / span 1;}
	.item3 {grid-area: 2 / span 4;}
	.item4 {grid-area: 3 / span 6;}
	.item5 {grid-area: 4 / span 6;}
}

@media screen and (min-width: 768px) {
	.item1 {grid-area: 1 / span 6;}
	.item2 {grid-area: 2 / span 1;}
	.item3 {grid-area: 2 / span 4;}
	.item4 {grid-area: 2 / span 1;}
	.item5 {grid-area: 3 / span 6;}
}
