/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --fonts: "Merriweather", serif;
	--box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;

	--cornsilk: #FFF9D6;
	--lemon: #FCF5C7;
	--darker_yellow: #F9EA8B;
	--black_olive: #2F2C21;
	--cream: #FFFDD0;
	--flax: #FFF099;
	--gold: #F5D000;

	--text-shadow: 4px 3px 0 var(--darker_yellow);
	
}

body {
	background-color: var(--cream);
}

h1, h2, h3, p, ul, a {
	font-family: var(--fonts);
	line-height: 1.5;
	padding: 8px;
	color: var(--black_olive);
}

h1 {
    font-size: clamp(1rem, 2.5vw, 2rem);
	font-weight: bold;
}

h2 {
	/* font-size: 1.4rem; */
	font-size: clamp(1.6rem, 3vw, 2.2rem);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.banner {
	padding: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 5px solid var(--flax);
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: var(--cornsilk);
}

.banner h1 {
	margin: auto 0;
	padding: 4px;
	text-shadow: var(--text-shadow);
}

.banner h1 .pre_icon:hover {
	text-decoration: underline;
}

.banner .ring_icon {
	display: none;
}

.banner_nav ul {
	display: none;
}

.banner img:hover {
	scale: 120%;
}

.thumbnail {
	background-image: url(images/temp/abby_temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: sepia(0.2);
	min-width: auto;
	min-height: 281px;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	border-bottom: 5px solid var(--flax);
}

.thumbnail_anchors {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: auto;
	padding-bottom: 12px;
}

.rsvp_button {
	background-color: var(--cream);
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	padding: 6px;
}

.rsvp_button:hover {
	background-color: var(--black_olive);
	color: var(--cornsilk);
	cursor: pointer;
}

.diamond {
	padding: 8px;
	font-size: 2rem;
	margin: auto;
	display: flex;
	justify-content: center;
	text-shadow: 3px 1px 2px var(--black_olive);
}

.blurb {
	padding-top: 0px;
	padding-left: 16px;
	padding-right: 16px;
	margin: auto;
	text-align: left;
}

.blurb p {
	padding: 0;
	font-size: clamp(1rem, 2.5vw, 1.3rem);
}

body h2 {
	text-align: center;
}

body h2 .pre_icon {
	font-style: italic;
	font-weight: 400;
	text-shadow: var(--text-shadow);
	text-decoration: underline;
}

body h2 .icon {
	text-decoration: none;
	text-shadow: 0px 0px 8px var(--gold);
}

.schedule_grid_container {
	margin: auto 20px;
	padding: 0px 16px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--flax);
	border: 8px solid var(--darker_yellow);
	border-radius: 16px;
	max-width: 350px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.schedule_grid_container img {
	grid-row: 1 / 3;
	margin: auto;
	padding: 8px;
	border-radius: 16px;
}

.schedule_grid_container h3 {
	margin-top: auto;
	text-align: center;
	font-size: 1.2rem;
	text-decoration: underline;
	padding-bottom: 0px;
}

.schedule_grid_container p {
	margin-bottom: auto;
	text-align: center;
	font-size: 0.9rem;
	padding-top: 0px;
	font-style: italic;
}

.bottom_links {
	display: grid;
	background-color: #F9EA8B;
	text-align: center;
	border-top: 4px solid var(--black_olive);
}

.bottom_links p {
	padding-bottom: 0px;
	margin-top: auto;
	font-weight: bold;
	text-align: center;
	font-size: 1.1rem;
}

.bottom_links ul {
	padding-top: 0px;
}

.bottom_links a:hover {
	font-weight: 600;
	font-style: italic;
	text-decoration: underline;
}

.bottom_links h3 {
	background-color: #2F2C21;
	color: var(--cornsilk);
}

@media (width > 430px) {

	.schedule_grid_container {
		margin: auto;
	}

	.blurb {
		max-width: 60ch;
	}

}

@media (width > 648px) {
	
	.banner_nav ul {
		display: flex;
		flex-direction: row;
		font-size: clamp(0.8rem, 2.25vw, 1.8rem);
	}

	.banner_nav li:hover {
		text-shadow: var(--text-shadow);
		text-decoration: underline;
	}

	.banner img {
		display: none;
	}

}

@media (width > 1024px) {

	.content {
		max-width: 50vw;
		margin: auto;
		background-color: var(--cream);
	}

	body {
		/* background-color: var(--flax); */
		background: linear-gradient(315deg, #FFFDD0, #F9EA8B);
		background-size: 200%;

		animation: background_animation 5s ease-in-out infinite;
	}

	@keyframes background_animation {
		0%{background-position: 10% 0%}
		50%{background-position: 91% 100%;}
		100%{background-position: 10% 0%;}
	}

	.banner .ring_icon {
		display: inline;
		text-shadow: 0px 0px 8px var(--gold);
	}

	.banner .ring_icon:hover {
		text-decoration: none;
	}

}

@media (width > 1920px) {

	.content {
		max-width: 30vw;
	}

}