<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry & Abby - Wedding Website</title>
        <!-- TODO: ADD FAVICON -->
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="banner">

        <h1><span class="pre_icon"><a href="index.html">Harry Laack & Abby Langseth</a></span><span class="ring_icon">💍</span></h1>

        <div class="banner_nav">

            <nav>
                <ul class="sidebar">
                    <li><a href="people.html">people</a></li>
                    <li><a href="#">registry</a></li>
                    <li><a href="place.html">place</a></li>
                    <li><a href="travel.html">travel</a></li>
                    <li><a href="password_entry.html">rsvp!</a></li>
                    <li><a href="photos.html">photos</a></li>
                </ul>
            </nav>

        </div>

        {% load static %}
        <button class="openbtn" onclick="openNav()"><img src={% static "images/temp/keyboard_double_arrow_left_48dp_000000_FILL0_wght400_GRAD0_opsz48.svg" %} alt="Menu icon." width="48" height="48"></button>

    </div>

    {% load static %}
    <script src="{% static 'script.js' %}"></script>

    <section class="content">

    <div class="thumbnail">
        <!-- <h1>Harry Laack & Abby Langseth</h1> -->
        
        <div class="thumbnail_anchors">
            <a href="password_entry.html"><span class="rsvp_button">click here to rsvp!</span></a>
        </div>
        
    </div>

    <span class="diamond">&#128310;</span>

    <div class="blurb">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores odio porro perspiciatis vero nemo rerum ducimus. Suscipit iure natus ipsa ullam eaque, reprehenderit dolorum. Adipisci similique at ut culpa repellendus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error tempore ex laudantium quia necessitatibus mollitia explicabo, excepturi rerum, a porro corrupti nulla architecto accusantium ad, ipsa quisquam! Aperiam, magnam minima!</p>

    </div>

    <span class="diamond">&#128310;</span>

    <h2><span class="pre_icon">day's schedule</span> <span class="icon">☀️</span></h2>
    

    <div class="schedule_grid_container">

        {% load static %}
        <img src="{% static 'images/temp/wedding_temp.jpg' %}" alt="Film photo of wedding." width="131">
        <h3>ceremony!</h3>
        <p>??:??am on 09/18/26<br>Hanke Hall,<br>Falconwood Park</p>

    </div>

    <span class="diamond">&#128310;</span>

    <div class="blurb">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est maiores placeat? Eos vel unde nobis fuga, ratione similique obcaecati at excepturi quia. Architecto officiis autem pariatur mollitia quo accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corporis distinctio ullam? Esse laudantium aspernatur nesciunt sed nihil nulla iure voluptatum aliquid unde. Voluptatem eos quasi, earum perferendis ullam placeat!</p>

    </div>

    <div class="bottom_links">

        <p>click below for more!</p>

        <nav>
            <ul>
                <li><a href="people.html">people</a></li>
                <li><a href="#">registry</a></li>
                <li><a href="#">place</a></li>
                <li><a href="#">travel</a></li>
                <li><a href="password_entry.html">rsvp!</a></li>
                <li><a href="photos.html">photos</a></li>
            </ul>
        </nav>

        <h3>&copy; 2025, Harry Laack & Abby Langseth</h3>

    </div>

    </section>

</body>

</html>