<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry & Abby - Wedding Website</title>
        <!-- TODO: ADD FAVICON -->
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="banner">

            <h1><span class="pre_icon"><a href="index.html">Harry Laack & Abby Langseth</a></span><span class="ring_icon">💍</span></h1>

            <div class="banner_nav">

                <nav>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="people.html">people</a></li>
                        <li><a href="#">registry</a></li>
                        <li><a href="#">place</a></li>
                        <li><a href="#">travel</a></li>
                        <li><a href="photos.html">photos</a></li>
                    </ul>
                </nav>

            </div>

            {% load static %}
            <img src={% static "images/temp/keyboard_double_arrow_left_48dp_000000_FILL0_wght400_GRAD0_opsz48.svg" %} alt="Menu icon." width="48" height="48">

        </div>

        <section class="content">

            <div class="thumbnail"></div>

            <h1 class="password_prompt_text">To proceed, please enter the password provided to you on your invitation below:</h1>

            <form class="password_form" method="post" action="">

                {% csrf_token %}
                <label for="password">Enter password: <span class="required">*</span></label>
                <input type="text" id="password" name="password_entry" placeholder="Password" required><br>
                <button type="submit" id="submit" name="submit">Submit!</button>

            </form>

            {% if form.errors %}
            <div class="form-errors">
                <p>Incorrect password. Please try again.</p>
            </div>
            {% endif %}


            <div class="bottom_links password_bottom_links">

                <p>click below for more!</p>

                <nav>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="people.html">people</a></li>
                        <li><a href="#">registry</a></li>
                        <li><a href="#">place</a></li>
                        <li><a href="#">travel</a></li>
                        <li><a href="photos.html">photos</a></li>
                    </ul>
                </nav>

                <h3>&copy; 2025, Harry Laack & Abby Langseth</h3>

            </div>

        </section>

</body>

</html>