<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry & Abby - Wedding Website</title>
        <!-- TODO: ADD FAVICON -->
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="banner">

        <h1><span class="pre_icon"><a href="index.html">Harry Laack & Abby Langseth</a></span><span class="ring_icon">💍</span></h1>

        <div class="banner_nav">

            <nav>
                <ul class="sidebar">
                    <li><a href="index.html">home</a></li>
                    <li><a href="people.html">people</a></li>
                    <li><a href="#">registry</a></li>
                    <li><a href="place.html">place</a></li>
                    <li><a href="password_entry.html">rsvp!</a></li>
                    <li><a href="photos.html">photos</a></li>
                </ul>
            </nav>

        </div>

        {% load static %}
        <button class="openbtn" onclick="openNav()"><img src={% static "images/temp/keyboard_double_arrow_left_48dp_000000_FILL0_wght400_GRAD0_opsz48.svg" %} alt="Menu icon." width="48" height="48"></button>

    </div>

    {% load static %}
    <script src="{% static 'script.js' %}"></script>

    <section class="content">

    <div class="thumbnail">
        <!-- <h1>Harry Laack & Abby Langseth</h1> -->
        
        <div class="thumbnail_anchors">
            <a href="password_entry.html"><span class="rsvp_button">click here to rsvp!</span></a>
        </div>
        
    </div>

    <h2><span class="pre_icon">travel</span> <span class="icon">🚗</span></h2>

    <div class="blurb">

        <p>We know there are many members attending our wedding that are traveling from out of town! We appreciate you making the journey to come celebrate with us!</p>
        <p>On this page, you can find some recommendations for places to stay, their price points, and their travel distances.</p>

    </div>

    <span class="diamond">&#128310;</span>

    <h3 class="travel_header"><span class="pre_icon">Staying at Falconwood</span> <span class="icon">🏠</span></h3>

    <div class="blurb">

        <p>Your least day-of travel option, Falconwood offers on-site Cabins that are available for booking. Their Duplex Cabin costs $200 and a Single Cabin costs $150 (both not including taxes). For all information concering booking these cabins, <a class="place_link" href="https://www.falconwoodpark.com/book-a-cabin">click here</a>.</p>

    </div>

    {% comment %} {% load static %}
    <img class="venue_img" src={% static "images/temp/hanke_hall.jpg" %} alt="A picture in the evening of our wedding venue, Hanke Hall, lit from within."> {% endcomment %}

    <h3 class="travel_header"><span class="pre_icon">Hampton Inn Bellevue</span> <span class="icon">🏨</span></h3>

    <div class="blurb">

        <p>Sitting around $96 a night, the Hampton Inn Bellevue puts you up in a 4.4 review average, 3 star hotel sitting only around 11 minutes from Falconwood Park. More information can be found about it <a class="place_link" href="https://maps.app.goo.gl/9b5irMbNYZvQUM5P7">here</a>.</p>

    </div>

    <h3 class="travel_header"><span class="pre_icon">Candlewood Suites Bellevue</span> <span class="icon">🏨</span></h3>

    <div class="blurb">

        <p>The Candlewood Suites located in Bellevue is only a 13 minute drive to Falconwood Park. Prices range from $87 to $98 a night for this 2 star hotel with a 4.3 review average. <a class="place_link" href="https://maps.app.goo.gl/pLwb6F9ogFocf9pC8">Click here</a> to learn more!</p>

    </div>

    <h3 class="travel_header"><span class="pre_icon">Microtel Inn & Suites</span> <span class="icon">🏨</span></h3>

    <div class="blurb">

        <p>Right next to the Hampton Inn is the Wyndham set of lodging, with an average review of 4.1, this 2 star hotel sits 10 minutes up the road from Falconwood Park. Pricing appears to sit around $70 per night. To inquire, <a class="place_link" href="https://maps.app.goo.gl/HSXH9DkThTh7xoka8">click here</a>!</p>

    </div>

    <h3 class="travel_header"><span class="pre_icon">Embassy Suites Downtown Old Market</span> <span class="icon">🏨</span></h3>

    <div class="blurb">

        <p>With free breakfast, free wifi, and located in the lively Downtown of Omaha, the Embassy Suites runs around $147 per night. By interstate, this hotel is located about 19 minutes away from Falconwood Park. For more information about this option, <a class="place_link" href="https://maps.app.goo.gl/b3QLBMsd7jADDBHW9">click here</a>!</p>

    </div>

    <h3 class="travel_header"><span class="pre_icon">Additional options!</span> <span class="icon">➕</span></h3>

    <div class="blurb">

        <p>For more lodging options sorted to be nearby Falconwood Park, you can <a class="place_link" href="https://maps.app.goo.gl/Syj1Mz378gFJMcz6A">click here</a> to be redirected to a convenient Google Maps search.</p>

    </div>

    <div class="bottom_links">

        <p>click below for more!</p>

        <nav>
            <ul>
                <li><a href="people.html">people</a></li>
                <li><a href="#">registry</a></li>
                <li><a href="#">place</a></li>
                <li><a href="#">travel</a></li>
                <li><a href="password_entry.html">rsvp!</a></li>
                <li><a href="photos.html">photos</a></li>
            </ul>
        </nav>

        <h3>&copy; 2025, Harry Laack & Abby Langseth</h3>

    </div>

    </section>

</body>

</html>