<!DOCTYPE html>
<html lang="en" class="no_js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry & Abby - Wedding Website</title>
        <!-- TODO: ADD FAVICON -->
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <div id="page">

        <div class="banner">

            <h1><span class="pre_icon"><a href="index.html">Harry Laack & Abby Langseth</a></span><span class="ring_icon">💍</span></h1>

            <div class="banner_nav">

                <nav>
                    <ul class="sidebar">
                        <li><a href="index.html">home</a></li>
                        <li><a href="people.html">people</a></li>
                        <li><a href="#">registry</a></li>
                        <li><a href="place.html">place</a></li>
                        <li><a href="password_entry.html">rsvp!</a></li>
                        <li><a href="photos.html">photos</a></li>
                    </ul>
                </nav>

            </div>

            {% load static %}
            <button class="openbtn" onclick="openNav()"><img src={% static "images/temp/keyboard_double_arrow_left_48dp_000000_FILL0_wght400_GRAD0_opsz48.svg" %} alt="Menu icon." width="48" height="48"></button>

        </div>

        {% load static %}
        <script src="{% static 'script.js' %}"></script>

        <section class="content">

        <div class="thumbnail">
            <!-- <h1>Harry Laack & Abby Langseth</h1> -->
            
            <div class="thumbnail_anchors">
                <a href="password_entry.html"><span class="rsvp_button">click here to rsvp!</span></a>
            </div>
            
        </div>

        <h2><span class="pre_icon">Q & A</span></h2>

        <div class="blurb">

            <p>We are sure you have plenty of questions about the wedding, and you've come to the right place.</p>
            <p>Look below to find some answers to common questions. Afterwards, if you're still wondering, feel free to reach out.</p>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Can I bring a date?</span></h3>

        <div class="blurb">

            <p>In an effort to keep our guest list intimate, only guests formally named on your invitation or within the RSVP form will be accomodated.</p>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Are children invited?</span></h3>

        <div class="blurb">

            <p>Only the children whose names are listed specifically on your family's RSVP form are invited. We appreciate your understanding.</p>

        </div>

        <h3 class="travel_header"><span class="pre_icon">What should I wear?</span></h3>

        <div class="blurb">

            <p>The dress code for our Ceremony and Reception is Cocktail Attire. Suits and ties, formal pantsuits, and elegant, knee-length or midi-length cocktail dresses are all welcome. Please, no denim, khaki, or dresses in shades of white, ivory, or cream.</p>

        </div>
            
        <h3 class="travel_header"><span class="pre_icon">What time should I arrive for the ceremony?</span></h3>

        <div class="blurb">

            <p>We suggest arriving to the venue at [TIME] to ensure ample time to park and find the ceremony area, as our ceremony will begin promptly at [TIME].</p>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Is it an Open Bar?</span></h3>

        <div class="blurb">

            <p>{% lorem 1 b random %}</p>

        </div>

        <div class="bottom_links">

            <p>click below for more!</p>

            <nav>
                <ul>
                    <li><a href="people.html">people</a></li>
                    <li><a href="#">registry</a></li>
                    <li><a href="place.html">place</a></li>
                    <li><a href="travel.html">travel</a></li>
                    <li><a href="password_entry.html">rsvp!</a></li>
                    <li><a href="photos.html">photos</a></li>
                </ul>
            </nav>

            <h3>&copy; 2025, Harry Laack & Abby Langseth</h3>

        </div>

        </section>

    </div>

</body>

</html>