<!DOCTYPE html>
<html lang="en" class="no_js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFF9D6">
    <title>Harry & Abby - Wedding Website</title>
        <!-- TODO: ADD FAVICON -->
    <!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico"> -->
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    
</head>

<body>

    <div id="page">

        <div class="banner">

            <h1><span class="pre_icon"><a href="index.html">Harry Laack & Abby Langseth</a></span></h1>

            <div class="banner_nav">

                <nav>
                    <ul class="sidebar">
                        <li><a href="index.html">home</a></li>
                        <li><a href="questions.html">questions</a></li>
                        <li><a href="people.html">people</a></li>
                        <li><a href="registry.html">registry</a></li>
                        <li><a href="place.html">place</a></li>
                        <li><a href="password_entry.html">rsvp!</a></li>
                        <li><a href="photos.html">photos</a></li>
                    </ul>
                </nav>

            </div>

            {% load static %}
            <button class="openbtn" onclick="openNav()"><img src={% static "images/temp/keyboard_double_arrow_left_48dp_000000_FILL0_wght400_GRAD0_opsz48.svg" %} alt="Menu icon." width="48" height="48"></button>

        </div>

        {% load static %}
        <script src="{% static 'script.js' %}"></script>

        <section class="content">

        <div class="thumbnail">
            <!-- <h1>Harry Laack & Abby Langseth</h1> -->
            
            <div class="thumbnail_anchors">
                <a href="password_entry.html"><span class="rsvp_button">click here to rsvp!</span></a>
            </div>
            
        </div>

        <h2><span class="pre_icon">travel</span></h2>

        <div class="blurb">

            <p>We know there are many attending our wedding that are traveling from out of town! We appreciate you making the journey to come celebrate with us! On this page, you can find some recommendations for places to stay, their price points, and their travel distances.</p>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Staying at Falconwood</span></h3>

        <div class="blurb">

            <ul class="travel_info">
                <li>Travel Time: On-site</li>
                <li>Price: $150-$200/night</li>
                <li>Type: On-site Cabins</li>
                <li>Link: <a class="place_link" href="https://www.falconwoodpark.com/book-a-cabin">Click here</a></li>
            </ul>

        </div>

        {% comment %} {% load static %}
        <img class="venue_img" src={% static "images/temp/hanke_hall.jpg" %} alt="A picture in the evening of our wedding venue, Hanke Hall, lit from within."> {% endcomment %}

        <h3 class="travel_header"><span class="pre_icon">Hampton Inn Bellevue</span></h3>

        <div class="blurb">

            <ul class="travel_info">
                <li>Travel Time: 11 minutes</li>
                <li>Price: $96/night</li>
                <li>Review Average: 4.4/5</li>
                <li>Link: <a class="place_link" href="https://maps.app.goo.gl/9b5irMbNYZvQUM5P7">Click here</a></li>
            </ul>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Candlewood Suites Bellevue</span></h3>

        <div class="blurb">

            <ul class="travel_info">
                <li>Travel Time: 13 minutes</li>
                <li>Price: $87-$98/night</li>
                <li>Review Average: 4.3/5</li>
                <li>Link: <a class="place_link" href="https://maps.app.goo.gl/pLwb6F9ogFocf9pC8">Click here</a></li>
            </ul>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Microtel Inn & Suites</span></h3>

        <div class="blurb">

            <ul class="travel_info">
                <li>Travel Time: 10 minutes</li>
                <li>Price: $70/night</li>
                <li>Review Average: 4.1/5</li>
                <li>Link: <a class="place_link" href="https://maps.app.goo.gl/HSXH9DkThTh7xoka8">Click here</a></li>
            </ul>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Embassy Suites Downtown Old Market</span></h3>

        <div class="blurb">

            <ul class="travel_info">
                <li>Travel Time: 19 minutes</li>
                <li>Price: $147/night</li>
                <li>Review Average: 4.3/5</li>
                <li>Link: <a class="place_link" href="https://maps.app.goo.gl/b3QLBMsd7jADDBHW9">Click here</a></li>
            </ul>

        </div>

        <h3 class="travel_header"><span class="pre_icon">Additional options!</span></h3>

        <div class="blurb">

            <p>For more lodging options sorted to be nearby Falconwood Park, you can <a class="place_link" href="https://maps.app.goo.gl/Syj1Mz378gFJMcz6A">click here</a> to be redirected to a convenient Google Maps search.</p>

        </div>

        <div class="bottom_links">

            <p>click below for more!</p>

            <nav>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="questions.html">questions</a></li>
                    <li><a href="people.html">people</a></li>
                    <li><a href="registry.html">registry</a></li>
                    <li><a href="place.html">place</a></li>
                    <li><a href="password_entry.html">rsvp!</a></li>
                    <li><a href="photos.html">photos</a></li>
                </ul>
            </nav>

            <h3>&copy; 2026, Harry Laack & Abby Langseth</h3>

        </div>

        </section>

    </div>

</body>

</html>